.bg-info {
    display: flex;
    align-items: center; /* центрирование содержимого по вертикали */
}

img {
    margin-right: 20px;
}

#head_text {
    flex: 1; /* растягивание h1 на всё доступное пространство справа от картинки */
}
